@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /*Color palette - Renk Paleti*/
    --bg-dark: #1A1A1A;
    /* Koyu gri arka plan */

    --card-bg: #141414;
    /* Daha koyu ürün kartları rengi */

    --text-main: #ffffff;
    /* Ana metin rengi */

    --neon-yellow: #FDFE00;
    /* Cyberpunk sarısı */
    --light-yellow: #4B4E0E;

    --neon-blue: #00FFFF;
    /* Cyberpunk mavisi */
    --light-blue: #104343;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-dark);
    font-family: 'Space Grotesk', sans-serif;
    color: var(--text-main);

    min-height: 100vh;
    /*Make page height min as screen height*/
}